.formContainer {
    margin: 5vh;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    flex: 3;
}

.subtext {
    font-size: 0.8em;
    opacity: 0.75;
    margin: 0;
}
.formRow {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.formInput{
    height: fit-content;
    margin-left: auto;
}

.tome {
    font-family: serif;
    line-height: 10px;
}

.formLabel {
    font-size: 1em;
    margin: 0;
}

.formDivider {
    border: 0;
    border-top: 1px solid #2f2f2f; /* Change thickness and color */
    margin: 16px 0; /* Adjust margin if needed */
}

.formTitle {
    font-size: 1.2em;
    margin: 0;
}

.centerPrimaryButton {
    align-self: center;
    justify-self: center;
    text-align: center;
}