.ManagerBase {
    display: flex;
}
.ManagerBaseSidebar {
    flex: 0 0 35%;
    background-color: #2f2f2f;
    height: 100vh;
    outline: 1px solid #414141;
}

.ManagerBaseContent{
    flex: auto;
    overflow: hidden;
}


